<!DOCTYPE html>
<html>

<head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    div {
      display: unset;
    }

    body {
      margin: unset;
      height: 100vh;
      width: 100vw;
    }

    .parent {
      height: 100%;
      width: 100%;
      display: grid;
    }

    img {
      width: 100%;
      max-width: 500px;
      height: auto;
      place-self: center;
    }
  </style>
</head>

<body>
  <div class="parent">
    <img src="image/blinking-guy.jpg" alt="Blinking Guy">
  </div>
</body>

</html>